node_modules
**/node_modules
dist
**/dist
.next
**/.next
.turbo
**/.turbo
.expo
**/.expo
apps/mobile/ios
apps/mobile/android
apps/desktop/release
apps/desktop/release-verify
apps/desktop/web-dist
coverage
**/coverage
*.tsbuildinfo
.env
**/.env
.env.local
**/.env.local
.env.*.local
**/.env.*.local
docker/.env.prod
.git
.vscode
*.log
