# apps/api
DATABASE_URL="postgresql://erp:erp_dev_password@localhost:5432/erp_saas_dev?schema=public"
JWT_ACCESS_SECRET="change-me"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_SECRET="change-me"
JWT_REFRESH_TTL="30d"
PORT=3000

# apps/web
NEXT_PUBLIC_API_URL="http://localhost:3000"
